.driver-dashboard{

padding:100px 40px;

background:#f5f7fb;

min-height:100vh;

}



.driver-profile{

background:white;

padding:25px;

border-radius:15px;

display:flex;

align-items:center;

gap:20px;

box-shadow:0 5px 20px rgba(0,0,0,.1);

}



.driver-icon{

font-size:50px;

color:#0077ff;

}



.online{

color:green;

font-weight:bold;

}


.offline{

color:red;

font-weight:bold;

}



.status-btn{

margin-left:auto;

font-size:35px;

border:none;

background:none;

cursor:pointer;

}



.delivery-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:25px;

}



.delivery-card{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}



.delivery-card button{

background:#0077ff;

color:white;

border:none;

padding:12px 20px;

border-radius:8px;

cursor:pointer;

}


.delivery-card button:hover{

background:#005fcc;

}